:root {
	--color-gray: #8a8a8a;
	--color-bg-0: #6baca1;
	--color-bg-1: #add8d1;
	--font-title: 16px;
	--font-sub-title: 15px;
	--font-sub: 13px;
}

@font-face {
	font-family: "Yanolja";
	src: url("./fonts/Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Yanolja";
	src: url("./fonts/Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

* {
	font-family: Yanolja,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* 접속자 수 */
#viewers:before {
	content: '울고있는 맹꽁이 ';
}

#board-info #board-info-bottom a {
	color: var(--color-gray);
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
	color: var(--color-gray);
}
#article-list > .article-list-row > .item > .list-header > span {
	background-color: var(--color-gray);
}
