@import url("./common.css");

/* 배경 그라데이션 */
html {
	background: linear-gradient(180deg, #ffffff 0%, var(--color-bg-1) 20%, var(--color-bg-0) 80%);
	height: auto;
}
body {
	background: transparent;
}

/* 폰트 사이즈 조절 */
#article-list > .article-list-row > .item > .list-title,
#main .menu-wrapper {
	font-size: var(--font-title);
}
#article-list #article-list-category > a {
	font-size: var(--font-sub-title);
}
#board-info #board-info-bottom a {
	font-size: var(--font-sub);
}

/* 검색창 */
header #right-search-form > input[type=text] {
	border: 3px solid var(--color-gray);
	border-radius: 15px;
}
header #right-search-form > #right-search-btn {
	color: var(--color-gray);
}
header #right-search-form > #right-search-btn:focus {
	outline: none;
}

/* 메뉴 보더 라인 */
#main .menu-wrapper {
	border: 4px solid var(--color-gray);
	border-radius: 15px;
	overflow: hidden;
}
/* 메뉴 틈 색 채움 제거 */
#main .menu-wrapper .spacer {
	display: none;
}
/* 메뉴 헤더 */
#main .menu-wrapper > .header {
	background: var(--color-gray);
}
/* 메뉴 단축키 */
#main .menu-wrapper > a > em {
	color: var(--color-gray);
}

/* 헤더 보더 */
header #header-bar > .row {
	border-radius: 43px;
	border-top: 4px solid var(--color-gray);
	border-left: none;
	border-right: none;
	border-bottom: none;
}

/* 프로필 이미지 위치 조정 */
#board-info #board-info-profile-img {
	float: left !important;
	border: 3px solid var(--color-gary);
	border-radius: 100%;
}
#board-info h1 {
	border-bottom: 2px solid var(--color-gray);
}

/* 메인 영역 테두리 제거, 래디우스 */
#main #main-content > div.frame {
	border: none;
	border-radius: 15px;
}
